* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

nav {
    width: 80%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.logo {
    font-weight: bold;
}

.highlight {
    color: blue;
}

.list-item:first-child {
    margin-right: 32px;
}

.list-item:last-child {
    margin-left: auto;
}

.list-item a {
    padding: 0 8px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.button-primary {
    appearance: none;
    border: 1px solid blue;
    padding: 4px 16px;
    border-radius: 16px;
}


.hero-section {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}

.hero-section>section {
    flex: 1;
}

.game-cover img {
    width: 100%;
}
