* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
}

.main > * {
    height: 100%;
}

.nav-container {
    flex: 0 0 2rem;
    border-right: 1px dashed red;
}

.posts-container {
    flex: 3 3 75%;
}

.profile-container {
    flex: 1 1 25%;
    border-left: 1px dashed red;
}

nav, .nav-list {
    height: 100%;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list li:first-child {
    margin-top: auto;
}
.nav-list li:last-child {
    margin-top: auto;
}

.nav-list li {
    /* flex: 1; */
    list-style: none;
    width: 2rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

li a {
    text-decoration: none;
    color: black;
}

li:nth-child(1) a {
    color: #E6254A;
}

li:nth-child(2) a {
    color: #25CCF1;
}
li:nth-child(7) a {
    color: #EEC310;
}
li img {
    width: 100%;
}
