* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
}

.main > * {
    height: 100%;
}

.nav-container {
    flex: 0 0 2rem;
    border-right: 1px dashed rgba(157, 154, 154, 0.345);
}

.posts-container {
    flex: 3 3 75%;
}

.profile-container {
    flex: 1 1 25%;
    border-left: 1px dashed red;
}

nav, .nav-list {
    height: 100%;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list li:first-child {
    margin-top: auto;
}
.nav-list li:last-child {
    margin-top: auto;
}

.nav-list li {
    /* flex: 1; */
    list-style: none;
    width: 2rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

li a {
    text-decoration: none;
    color: black;
}

li:nth-child(1) a {
    color: #E6254A;
}

li:nth-child(2) a {
    color: #25CCF1;
}
li:nth-child(7) a {
    color: #EEC310;
}
li img {
    width: 100%;
}

.top-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    align-items: center;
    border-bottom: 1px dashed #eee;
}

.top-nav-list li a {
    color: black;
}

.top-nav-list input {
    appearance: none;
    border: none;
    background-color: #F6F9FE;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.cards {
    width: 800px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,15rem);
    grid-auto-rows: 1rem;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    /* background-color: #EEC310; */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 16px #efefef;
}

.small {
    grid-row-end: span 10;
}


.medium {
    grid-row-end: span 12;
}


.large {
    grid-row-end: span 15;
}

/* .card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 4;
} */

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.avatar img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid orangered;
}

.flex p {
    font-size: 12px;
}

.basic-info {
    padding: 0 1rem;
}

.menu {
    margin-left: auto;
    width: 1.2rem;
    height: 1.2rem;
    color: #C3D0E0;
    cursor: pointer;
}

.media {
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.media img {
    width: 100%;
}

.small .media {
    max-height: 124px;
    overflow: hidden;
}

.controls {
    padding: 0 1rem;
}

.controls span:last-child {
    margin-left: auto;
}

span.active {
    color: #E6254A;
}

.liked {
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: gray;
}

.highlight {
    font-weight: bold;
}

.comments {
    padding: 0 1rem;
    font-size: 12px;
}

.date {
    color: lightgray;
    font-size: 10px;
}

.medium .media {
    max-height: 172px;
    overflow: hidden;
}


.large .media {
    max-height: 234px;
    overflow: hidden;
}