@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
}

.menu-item {
    display: none;
}

.nav-list li:last-child {
    margin-left: auto;
}

.menu {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black
}

.hero {
    margin: 1rem 0;
}

.hero h1 {
    font-weight: 400;
}

.buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border-radius: 2rem;
    appearance: none;
    border: none;
    padding: 1rem 2rem;
    text-transform: capitalize;
    font-weight: 700;
}

.button-primary {
    background-color:  #192026;
    color: white;
}

.button-secondary {
    background-color: #E0E6E6;
    color: black;
}